 /*added by sungkwang*/
pre{
	font-size:80%;
	line-height:100%;
}
.btn-link{
	padding: 0;
	font-family:georgia;
}

.links {
margin-bottom: 20px;
font-size:80%;
}

.footer {
margin-bottom: 20px;
}
.footer .links a {
margin-right: 10px;
}

.center { 
  text-align:center;
}
.right{
  text-align: right;
  display:block;
}

.justify {
	text-align:justify;
}

.small{
  font-size: 90%;
}

.large{
  font-size: 120%;
}


.navbar{
	font-size:18px;
}

/* Body and structure
-------------------------------------------------- */
body {
  /* min-height: 1000px; */
  padding-top: 80px;
}

/* Sections
-------------------------------------------------- */
/* padding for in-page bookmarks and fixed navbar */
section {
  padding: 10px;
}
section > .page-header {
  color: #5a5a5a;
  padding-top:30px;
  margin: 10px;
  border-bottom: none;
  position: relative;
}

section > ul li {
  margin-bottom: 5px;
}


/* Footer
-------------------------------------------------- */
.footer {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.padding-tb{
  padding-top: 10px;
  padding-bottom: 10px; 
}
/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.docs-box {
  position: relative;
  padding: 20px 10px 20px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
  /*this causes errors in explorer, overide other css*/
  /*width: 300px; */
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  /*this causes errors in explorer, overide other css*/
  /*width: 300px \9;*/
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}

/* Responsive
-------------------------------------------------- */
/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-sidenav {
    width: 300px;
    margin-left:70px;
  }
  .bs-docs-sidenav > li > a {
    width: 300px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  .bs-docs-sidenav {
    top: 0;
    width:300px;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
 /*  body {
    padding-top: ;
    margin-top:0;
  } */
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 245px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 40px;
    margin-bottom:40px;
    position:static;
  }
  section{
    padding:20px;
  }
  section > .page-header {
  padding-top:10px;
  margin: 10px;
  }

}


/* Tablet
------------------------- */
@media (max-width: 767px) {
/*   body {
    padding-top: 0;
  } */

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
    .affix {
    position: static;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    /* padding-top: 0; */
    padding-left:5px;
    padding-right:5px;
  }
  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
  section {
  padding: 0;
  }
  .docs-box {
    position: relative;
    padding: 10px 0 10px 0;
    background-color: #fcfcfc;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left:none;
    border-right:none;
      -webkit-border-radius: 0;
       -moz-border-radius: 0;
    border-radius:0;
  }
    /* Tighten up footer */
  .footer {
      padding-top: 20px;
      padding-bottom: 20px;
  }
}


